<h1>Μετατροπή μεγεθών σε μετρα</h1>
<div class="form-row">
  <select class="form-select form-select-lg mb-3" required>
    <option selected>Επιλέξτε μέγεθος</option>
    <option value="0">mm</option>
    <option value="1">cm</option>
    <option value="2">km</option>
    <option value="3">yd</option>
    <option value="4">in</option>
    <option value="5">ft</option>
  </select>
  <label for="input" class="form-label col-form-label-lg">
    Εισάγετε την τιμή</label
  >
  <input
    type="number"
    class="form-control"
    id="input"
    name="input"
    value="1"
    required
    placeholder="πχ 4.5"
  />
</div>
